<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/loker/tambah-loker}" th:object="${loker}" method="POST">
        <!-- <input type="hidden" th:field="${loker.id}" /> -->
        Judul Loker : <br>
        <input type="text" name="judulLoker" />
        <br>
        Departement: <br>
        <input type="text" th:value = "${reqLoker.departement}"  name="departement" />
        <br>
        Section: <br>
        <input type="text" th:value = "${reqLoker.section}" name="section" />
        <br>
        Tanggal mulai: <br>
        <input type="date" name="tanggalMulai" />
        <br>
        Tanggal Berakhir: <br>
        <input type="date" name="tanggalBerakhir" />
        <br>
        Deskripsi :
        <textarea id = "deskripsi" name = "deskripsi" rows = "5" cols = "30"></textarea>
        Req. Lowongan <br>
        <input type="number" name="requestLowonganId" />
        <br>

        <button type="submit">Submit</button>
    </form>

</body>
</html>